* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
}

button {
  cursor: pointer;
}
button:hover {
  opacity: 0.7;
}

body {
  background: #fff;
  color: #333;
}

@font-face {
  font-family: "NanumSquareB";
  src: url("../fonts/NanumSquareB.eot");
  src: local("NanumSquareB"), url("../fonts/NanumSquareB.woff") format("woff"), url("../fonts/NanumSquareB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareR";
  src: url("../fonts/NanumSquareR.eot");
  src: local("NanumSquareR"), url("../fonts/NanumSquareR.woff") format("woff"), url("../fonts/NanumSquareR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundB";
  src: url("../fonts/NanumSquareRoundB.eot");
  src: local("NanumSquareRoundB"), url("../fonts/NanumSquareRoundB.woff") format("woff"), url("../fonts/NanumSquareRoundB.ttf") format("truetype");
}
@font-face {
  font-family: "NanumSquareRoundR";
  src: url("../fonts/NanumSquareRoundR.eot");
  src: local("NanumSquareRoundR"), url("../fonts/NanumSquareRoundR.woff") format("woff"), url("../fonts/NanumSquareRoundR.ttf") format("truetype");
}
@font-face {
  font-family: "NanumDaSiSiJagHae";
  src: url("../fonts/NanumDaSiSiJagHae.eot");
  src: local("NanumDaSiSiJagHae"), url("../fonts/NanumDaSiSiJagHae.woff") format("woff"), url("../fonts/NanumDaSiSiJagHae.ttf") format("truetype");
}
@font-face {
  font-family: "OldLondon";
  src: url("../fonts/OldLondon.eot");
  src: local("OldLondon"), url("../fonts/OldLondon.woff") format("woff"), url("../fonts/OldLondon.ttf") format("truetype");
}
@font-face {
  font-family: "OldLondonA";
  src: url("../fonts/OldLondonAlternate.eot");
  src: local("OldLondonAlternate"), url("../fonts/OldLondonAlternate.woff") format("woff"), url("../fonts/OldLondonAlternate.ttf") format("truetype");
}
.w_150 {
  width: 150px !important;
}

.w_200 {
  width: 200px !important;
}

.w_300 {
  width: 300px !important;
}

.h_40 {
  height: 40px !important;
}

.h_60 {
  height: 60px !important;
}

.btn_blue {
  background: #373ea5;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  font-family: "NanumSquareRoundB";
  font-size: 14px;
}

.text_red {
  color: red;
}

.text_seagreen {
  color: seagreen;
}

.page_home {
  margin: 20px;
}
.page_home .home_title {
  padding: 10px;
}
.page_home .home_proto .slide_wrapper {
  position: relative;
  width: 100vw;
  height: 430px;
  overflow: hidden;
}
.page_home .home_proto .slide_wrapper .slides {
  position: absolute;
  left: 0;
  height: 0;
  display: flex;
  justify-content: space-around;
}
.page_home .home_proto .slide_wrapper .slides .slide_item {
  cursor: pointer;
  position: relative;
  width: 260px;
  height: 380px;
  float: left;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.page_home .home_proto .slide_wrapper .slides .slide_item .slide_contents {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0);
  transition: 0.4s;
}
.page_home .home_proto .slide_wrapper .slides .slide_item .slide_contents h2 {
  text-align: center;
  display: none;
  color: white;
  margin-bottom: 1em;
  word-break: keep-all;
  font-size: 1.4em;
}
.page_home .home_proto .slide_wrapper .slides .slide_item .slide_contents p {
  text-align: center;
  display: none;
  color: white;
  word-break: keep-all;
}
.page_home .home_proto .slide_wrapper .slides .slide_item img {
  width: 100%;
  height: 100%;
}
.page_home .home_proto .slide_wrapper .slides .slide_item:hover {
  background: #000000;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.34);
}
.page_home .home_proto .slide_wrapper .slides .slide_item:hover img {
  opacity: 0.2;
}
.page_home .home_proto .slide_wrapper .slides .slide_item:hover .slide_contents h2, .page_home .home_proto .slide_wrapper .slides .slide_item:hover .slide_contents p {
  display: block;
  opacity: 1;
}
.page_home .home_proto .slide_wrapper .slides .slide_item:not(:last-child) {
  margin-right: 150px;
}
.page_home .home_proto .slide_wrapper .slides.animated {
  transition: 0.5s ease-out;
}
.page_home .home_proto .slide_btn {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.page_api_test {
  margin: 20px;
}
.page_api_test .test_title {
  padding: 10px;
}
.page_api_test .btn_box_test {
  margin-top: 20px;
  padding: 10px;
  border: solid 1px #b8b8b8;
  border-radius: 10px;
}
.page_api_test .test_result {
  margin-top: 20px;
  padding: 30px;
  border: solid 1px #b8b8b8;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */